<div class="ui raised segment">

  <tb-adresse-dialog-neu *ngIf="bDialoNeuanlage" (close)="onNeuClose()" [branchen]="branchen"></tb-adresse-dialog-neu>

  <div class="ui two column grid">

    <div class="three wide column">
      <input type="text" placeholder="Suche...">
      <div class="segment" style="overflow: auto; max-height: 65%;">
        <tb-adresse-suchen></tb-adresse-suchen>
      </div>
    </div>

    <div class="thirteen wide column">

      <form class="ui form" (ngSubmit)="submitForm()">
        <div class="ui two column grid">
          <div class="column">
            <tb-adresse-person [adressenForm]="adressenForm" [branchen]="branchen"></tb-adresse-person>
          </div>
          <div class="column">
            <tb-adresse-beziehungen></tb-adresse-beziehungen>
          </div>
        </div>

        <div class="ui two column grid">
          <div class="column">
            <div class="ui segment">
              <tb-adresse-adressen [adressenForm]="adressenForm" [adressen]="adressen"></tb-adresse-adressen>
              <tb-adresse-person-zusatz [adressenForm]="adressenForm"></tb-adresse-person-zusatz>
              <tb-adresse-todesliste [adressenForm]="adressenForm"></tb-adresse-todesliste>
            </div>
          </div>

          <div class="column">
            <div class="ui segment" style="overflow: auto; max-height: 72%">
              <tb-adresse-verbindungsdaten [verbindungsdatenArten]="verbindungsdatenArten"></tb-adresse-verbindungsdaten>
            </div>
          </div>
        </div>

        <br>
        <button class="ui button" type="submit" [disabled]="!this.editMode">Speichern</button>
        <button class="ui button" type="button" (click)="onNeu()" >Neu</button>
      </form>
    </div>
  </div>
</div>
