<div class="grid">
  <grid-column>

    <div class="card p-fluid">
      <contact-person [contact]="contact"></contact-person>
    </div>

    <div class="card p-fluid">
      <contact-verbindungen [contact]="contact"></contact-verbindungen>
    </div>

    <div class="card p-fluid">
      <p-panel header="Sonstiges" [toggleable]="true" [collapsed]="true" class="line-height-3 m-0">
        <contact-zusatz [contact]="contact"></contact-zusatz>
      </p-panel>
    </div>

    <div class="card">
      <div class="flex flex-wrap gap-2">
        <button pButton pRipple type="button" label="Zurueck" class="p-button-secondary" (click)="onZurueck()"></button>
        <button pButton pRipple type="button" label="Del" class="p-button-raised p-button-danger" (click)="onDel()"></button>
      </div>
    </div>

  </grid-column>
</div>
