<div class="ui raised segment">
  <div class="ui two column grid">
    <div class="column three wide">
    </div>

    <div class="thirteen wide column">
      <div class="ui two column grid">

        <div class="column">
          <contact-person [contact]="contact"></contact-person>
          <contact-verbindungen [contact]="contact"></contact-verbindungen>

          <div class="ui accordion">
            <div class="title" [class.active]="clickZusatz" (click)="onClickZusatz()">
              <i class="dropdown icon"></i>
              Sonstiges
            </div>
            <contact-zusatz [contact]="contact" class="content" [class.active]="clickZusatz"></contact-zusatz>
          </div>

          <div class="ui segment">
            <button class="ui button" type="button" (click)="onZurueck()">Zurueck</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
