<div class="grid">
  <div class="col-12 md:col-6">
    <contact-person [contact]="contact"></contact-person>
    <contact-verbindungen [contact]="contact"></contact-verbindungen>

    <div class="card p-fluid">
      <p-panel header="Sonstiges" [toggleable]="true" [collapsed]="true" class="line-height-3 m-0">
        <contact-zusatz [contact]="contact"></contact-zusatz>
      </p-panel>
    </div>

    <div class="flex flex-wrap gap-2">
      <button pButton pRipple type="button" label="Zurueck" class="p-button-secondary" (click)="onZurueck()"></button>
    </div>

  </div>
</div>
