<div class="ui raised segment">
  <label class="ui grey label">Person:</label>
  <form class="ui form" [formGroup]="adressenForm">

    <div class="field">
      <label>Branche</label>
      <select class="ui compact selection dropdown" formControlName="brancheUUID">
        <option *ngFor="let a of branchen" [value]="a.id">{{ a.bezeichnung }}</option>
      </select>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input type="text" formControlName="name" placeholder="Name">
      </div>
      <div class="field">
        <label>Vorname</label>
        <input type="text" formControlName="vorname" placeholder="Vorname">
      </div>
    </div>

  </form>
</div>
