<div class="grid">
  <grid-column>
    <div grid-card>
      <div class="field col-12 md:col-6">
        <input-text idName="suche" placeholder="Suche..." [(myModel)]="suche"/>
      </div>
      <div class="field col-12 md:col-6">
        <button pButton pRipple type="button" label="suchen" class="p-button-raised" (click)="onSearch()"></button>
      </div>

      <div class="field col-12">
        <p-button label="filter"></p-button>
      </div>
    </div>
  </grid-column>
</div>

<contact-list [contacts]="contacts" [layout]="layout"></contact-list>
