<div class="shadow-3 p-3">

  <p-listbox [options]="contacts" [(ngModel)]="selectedContactDto" [routerLink]="['/bearbeiten/', selectedContactDto.id]">
    <ng-template let-ct pTemplate="item">
      <div class="flex flex-column">
        <div class="field mb-0 text-base font-medium">
          {{ct.name}}, {{ct.vorname}}
        </div>
        <div class="field mb-0 text-sm" style="color: grey">
          {{ct.ort}} {{telefon(ct)}}
        </div>
      </div>
    </ng-template>
  </p-listbox>

</div>
