<form #contactForm="ngForm" (ngSubmit)="speichern()">
<div class="grid">
    <grid-column>
      <div grid-card cardBezeichnung="Name">
        <div class="field col-12">
          <label htmlFor="branche">Branche</label>
          <p-dropdown id="branche" name="branche" [options]="branchen" [(ngModel)]="selBranche" optionLabel="bezeichnung"></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
          <label htmlFor="name">Name</label>
          <input pInputText id="name" name="name" type="text" required [(ngModel)]="contact.name"/>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="vorname">Vorname</label>
          <input-text idName="vorname" [(myModel)]="contact.vorname"/>
        </div>
      </div>

      <div grid-card cardBezeichnung="Adresse">
        <div class="field col-12">
          <label htmlFor="strasse">Strasse</label>
          <input-text idName="strasse" [(myModel)]="contact.strasse"/>
        </div>

        <div class="field col-12 md:col-3">
          <label htmlFor="plz">Plz</label>
          <!--input-plz idName="plz" [(myModel)]="contact.plz"></input-plz--> <!-- invalid muss PLZ noch melden -->
          <p-inputNumber mode="decimal" inputId="plz" name="plz" plzValidate [useGrouping]="false" [(ngModel)]="contact.plz"/>
        </div>
        <div class="field col-12 md:col-9">
          <label htmlFor="ort">Ort</label>
          <input-text idName="ort" [(myModel)]="contact.ort"/>
        </div>
      </div>
    </grid-column>

    <grid-column>
      <div grid-card cardBezeichnung="Verbindungen">
        <div class="field col-12 md:col-6">
          <label htmlFor="telefon">Telefon</label>
          <input-text idName="telefon" [(myModel)]="verbindungen.telefon"/>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="mobil">Mobil</label>
          <input-text idName="mobil" [(myModel)]="verbindungen.mobil"/>
        </div>

        <div class="field col-12">
          <label htmlFor="email">EMail</label>
          <input-text idName="email" [(myModel)]="verbindungen.email"/>
        </div>
      </div>
    </grid-column>

    <grid-column>
      <div class="card">
        <div class="flex flex-wrap gap-2">
          <button pButton pRipple label="Speichern" icon="pi pi-check" type="submit" [disabled]="contactForm.invalid"></button>
        </div>
      </div>
    </grid-column>

</div>
</form>
