<form #contactForm="ngForm" (ngSubmit)="speichern()">
<div class="grid">
    <div class="col-12 md:col-6">
      <div class="card p-fluid">
        <h5>Name</h5>
        <div class="p-fluid p-formgrid grid">

          <div class="field col-12">
            <label htmlFor="branche">Branche</label>
            <p-dropdown id="branche" name="branche" [options]="branchen" [(ngModel)]="selBranche" optionLabel="bezeichnung"></p-dropdown>
          </div>

          <div class="field col-12 md:col-6">
            <label htmlFor="name">Name</label>
            <input pInputText id="name" name="name" type="text" required [(ngModel)]="contact.name"/>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="vorname">Vorname</label>
            <input pInputText id="vorname" name="vorname" type="text" [(ngModel)]="contact.vorname"/>
          </div>

        </div>
      </div>

      <div class="card p-fluid">
        <h5>Adresse</h5>
        <div class="p-fluid p-formgrid grid">

          <div class="field col-12">
            <label htmlFor="strasse">Strasse</label>
            <input pInputText id="strasse" name="strass" type="text" [(ngModel)]="contact.strasse"/>
          </div>

          <div class="field col-12 md:col-3">
            <label htmlFor="plz">Plz</label>
            <input pInputText id="plz" name="plz" type="text" [(ngModel)]="contact.plz"/>
          </div>
          <div class="field col-12 md:col-9">
            <label htmlFor="ort">Ort</label>
            <input pInputText id="ort" name="ort" type="text" [(ngModel)]="contact.ort"/>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12 md:col-6">
      <div class="card p-fluid">
        <h5>Verbindungen</h5>
        <div class="p-fluid p-formgrid grid">

          <div class="field col-12 md:col-6">
            <label htmlFor="telefon">Telefon</label>
            <input pInputText id="telefon"  name="telefon" type="text" [(ngModel)]="verbindungen.telefon"/>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="mobil">Mobil</label>
            <input pInputText id="mobil" name="mobil" type="text" [(ngModel)]="verbindungen.mobil"/>
          </div>

          <div class="field col-12">
            <label htmlFor="email">EMail</label>
            <input pInputText id="email" name="email" type="text" [(ngModel)]="verbindungen.email"/>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12 md:col-6">
      <div class="card">
        <div class="flex flex-wrap gap-2">
          <button pButton pRipple label="Speichern" icon="pi pi-check" type="submit" [disabled]="contactForm.invalid"></button>
        </div>
      </div>
    </div>

</div>
</form>
