<form #branchenForm="ngForm">
    <div grid-card>
      <div class="field col-12">
        <label>Branche</label>
      </div>
      <div class="-mt-4 field col-12 md:col-6">
        <input pInputText type="text" name="branchefachcode" required [minlength]="2" [maxlength]="2" placeholder="Fachcode" [(ngModel)]="branche.fachCode">
      </div>
      <div class="-mt-4 field col-12 md:col-6">
        <input pInputText type="text" name="branchefield" required placeholder="Name" [(ngModel)]="branche.bezeichnung">
      </div>
    </div>
</form>
