<div *ngIf="!verbindungenEdit; else doVerbindungenEdit">

    <div class="flex justify-content-between mb-3">
      <div>
        <span class="font-medium bg-gray-100 border-round p-2 mb-3">Verbindungsdaten:</span>
      </div>
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-pencil" (click)="onBearbeiten()"></i>
      </div>
    </div>

    <div class="text-800 font-medium mb-1">
      {{verbindungDaten(contact, 'EMAIL')}}
    </div>

    <div class="flex justify-content-between mb-3">
      <div class="text-800 font-medium mt-1">{{verbindungDaten(contact, 'TELEFON')}}</div>
      <div class="text-800 font-medium mt-1">{{verbindungDaten(contact, 'MOBIL')}}</div>
    </div>
</div>

<ng-template #doVerbindungenEdit>
  <div class="shadow-3 p-3">
    <form class="card p-fluid p-formgrid grid">

      <div class="field col-12 md:col-6">
        <p-dropdown id="verbindungsart" name="verbindungsart" [options]="verbindungsArten" optionLabel="bezeichnung" [(ngModel)]="this.editVerbindungsArt"/>
      </div>
      <div class="field col-12 md:col-6">
        <input-text idName="verbindungsdatenNr" placeholder="Nr" [(myModel)]="this.editVerbindungsdaten"/>
      </div>

      <p-table [value]="this.verbindungen" selectionMode="single"
               [(selection)]="selectedVerbindung" class="field col-12" *ngIf="this.verbindungen">
        <ng-template pTemplate="header">
          <tr>
            <th>Art</th>
            <th>Daten</th>
            <th style="width: 1rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-verbindung>
          <tr [pSelectableRow]="verbindung" (click)="onSelectVerbindung()">
            <td>{{verbindungArt(verbindung)}}</td>
            <td>{{verbindung.verbindungsdaten}}</td>
            <td>
              <i class="pi pi-trash" (click)="onDeleteVerbindung(verbindung)"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <i class="pi pi-times" (click)="onCancel()"></i>
      <i class="pi pi-check mr-3 ml-3" (click)="onSpeichern()"></i>
      <i class="pi pi-plus" (click)="onNeu()"></i>
    </form>
  </div>
</ng-template>
