<div *ngIf="!verbindungenEdit; else doVerbindungenEdit">

    <div class="flex justify-content-between mb-3">
      <div>
        <span class="font-medium bg-gray-100 border-round p-2 mb-3">Verbindungsdaten:</span>
      </div>
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-pencil" (click)="onBearbeiten()"></i>
      </div>
    </div>

    <div class="text-800 font-medium mb-1">
      {{verbindungDaten(contact, 'EMAIL')}}
    </div>

    <div class="flex justify-content-between mb-3">
      <div class="text-800 font-medium mt-1">{{verbindungDaten(contact, 'TELEFON')}}</div>
      <div class="text-800 font-medium mt-1">{{verbindungDaten(contact, 'MOBIL')}}</div>
    </div>
</div>

<ng-template #doVerbindungenEdit>
  <div class="shadow-3 p-3">
    <form [formGroup]="verbindungsdatenForm">

      <div formArrayName="verbindungsdaten">
        <div class="card p-fluid p-formgrid grid" *ngFor="let vdItem of controls; let i = index" [formGroupName]="i">

          <div class="field col-12 md:col-6">
            <p-dropdown formControlName="verbindungsart" [options]="verbindungsdatenArten" optionLabel="bezeichnung"></p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <input pInputText type="text" formControlName="verbindungsdaten" placeholder="Nr">
          </div>

        </div>
      </div>

      <i class="pi pi-times mr-3 ml-2 mt-3" (click)="onCancel()"></i>
      <i class="pi pi-check" (click)="onSpeichern()"></i>
    </form>
  </div>
</ng-template>
