<div class="ui four item menu">
  <a class="item" [class.active]="selectedTab === eTabHeader.UX" (click)="onTabSelect(eTabHeader.UX)"
     [routerLink]="['/verwalten']">UX</a>
  <a class="item" [class.active]="selectedTab === eTabHeader.Adressen" (click)="onTabSelect(eTabHeader.Adressen)"
     [routerLink]="['/adressen']">Adressen</a>
  <a class="item" [class.active]="selectedTab === eTabHeader.Branchen" (click)="onTabSelect(eTabHeader.Branchen)"
     [routerLink]="['/branchen']">Branchen</a>
  <a class="item" [class.active]="selectedTab === eTabHeader.Verbindungsarten" (click)="onTabSelect(eTabHeader.Verbindungsarten)"
     [routerLink]="['/verbindungsart']">Verbindungsarten</a>
</div>
