<div class="grid">
  <div class="col-12">

    <div *ngIf="!personEdit; else noPersonEdit">
      <div class="card p-fluid">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="font-medium bg-gray-100 border-round p-2 mb-3">Person:</span>
          </div>
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-pencil" (click)="onBearbeiten()"></i>
          </div>
        </div>
        <div class="text-800 font-medium">
          {{contact.brancheBezeichnung}}
        </div>

        <div class="text-800 font-medium my-1">
          {{contact.vorname}} {{contact.name}}
        </div>
        <div class="text-800 font-medium">
          {{contact.strasse}}
        </div>
        <div class="text-800 font-medium mt-1">
          {{contact.plz}} {{contact.ort}}
        </div>
      </div>
    </div>

    <ng-template #noPersonEdit>
      <div class="shadow-3 p-3">
        <form class="card p-fluid p-formgrid grid" [formGroup]="personForm">

          <div class="field col-12">
            <p-dropdown [options]="branchen" formControlName="brancheFachCode" optionLabel="bezeichnung" (click)="onBranche()"></p-dropdown>
          </div>

          <div class="field col-12 md:col-6">
            <input pInputText type="text" formControlName="vorname" placeholder="Vorname">
          </div>
          <div class="field col-12 md:col-6">
            <input pInputText type="text" formControlName="name" placeholder="Name">
          </div>
          <div class="field col-12">
            <input pInputText type="text" formControlName="strasse" placeholder="Strasse">
          </div>
          <div class="field col-12 md:col-6">
            <input pInputText type="text" formControlName="plz" placeholder="Plz">
          </div>
          <div class="field col-12 md:col-6">
            <input pInputText type="text" formControlName="ort" placeholder="Ort">
          </div>

          <i class="pi pi-times mr-3 ml-2" (click)="onCancel()"></i>
          <i class="pi pi-check" (click)="onSpeichern()"></i>
        </form>
      </div>
    </ng-template>

  </div>
</div>
