<div class="ui segment">
  <div class="ui raised segment">

    <form class="ui form" (ngSubmit)="submitFormSpeichern()" [formGroup]="adresseForm">

      <div class="ui ordered mini steps">
        <div class="step" [class.completed]="selectedTab > 1" [class.active]="selectedTab == 1">
          <div class="content">
            <div class="title">Name</div>
            <div class="description">{{name}}</div>
          </div>
        </div>
        <div class="step" [class.completed]="selectedTab > 2" [class.active]="selectedTab == 2">
          <div class="content">
            <div class="title">Adresse</div>
            <div class="description">Strasse, Ort</div>
          </div>
        </div>
        <div class="step" [class.active]="selectedTab == 3">
          <div class="content">
            <div class="title">Verbindungen</div>
            <div class="description">Telefon, Email</div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedTab == 1">

        <div class="field">
          <label>Branche</label>
          <select class="ui compact selection dropdown" formControlName="branche" (click)="onBranche()">
            <option *ngFor="let a of branchen" [value]="a.fachCode">{{ a.bezeichnung }}</option>
          </select>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Name</label>
            <input type="text" formControlName="name" placeholder="Name">
          </div>
          <div class="field">
            <label>Vorname</label>
            <input type="text" formControlName="vorname" placeholder="Vorname">
          </div>
        </div>

      </div>

      <div *ngIf="selectedTab == 2">
        <div class="field">
          <label>Strasse</label>
          <input type="text" formControlName="strasse" placeholder="Strasse">
        </div>
        <div class="fields">
          <div class="three wide field">
            <label>Plz</label>
            <input type="text" formControlName="plz" placeholder="Plz">
          </div>
          <div class="thirteen wide field">
            <label>Ort</label>
            <input type="text" formControlName="ort" placeholder="Ort">
          </div>
        </div>
      </div>

      <div *ngIf="selectedTab == 3">

        <div class="fields">
          <div class="eight wide field">
            <label>Telefon</label>
            <input type="text" formControlName="telefon" placeholder="Telefon">
          </div>
          <div class="eight wide field">
            <label>Mobil</label>
            <input type="text" formControlName="mobil" placeholder="Mobil">
          </div>
        </div>
        <div class="field">
          <label>EMail</label>
          <input type="text" formControlName="email" placeholder="EMail">
        </div>

      </div>

      <div style="text-align: right">
        <button class="ui button" type="button" (click)="onLinks()"><</button>
        <button class="ui button" type="button" (click)="onRechts()">></button>
        <button class="ui button" type="submit">Speichern</button>
        <button class="ui button" type="button" (click)="onClose()">Close</button>
      </div>

    </form>
  </div>
</div>
